{% extends "base.html.j2" %}

{% block title %}Reset Password | Stockfish Testing{% endblock %}

{% block head %}
  <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<div class="col-limited-size">
  <header class="text-md-center py-2">
    <h2>Reset password</h2>
    <div class="alert alert-info">
      <p class="mb-0">
        Enter the email address associated with your account and we'll send you a
        link to reset your password.
      </p>
    </div>
  </header>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control mb-3"
        id="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        required
        autofocus
      >
      <label for="email" class="d-flex align-items-end">Email</label>
    </div>

    <div class="g-recaptcha mb-3" data-sitekey="{{ recaptcha_site_key if recaptcha_site_key is defined else '' }}"></div>

    <button type="submit" class="btn btn-primary w-100">Send reset link</button>
  </form>

  <div class="text-md-center py-3">
    <a href="/login" class="alert-link">Back to login</a>
  </div>
</div>
{% endblock %}
