{% extends "base.html.j2" %}

{% block title %}Set New Password | Stockfish Testing{% endblock %}

{% block body %}
<div class="col-limited-size">
  <header class="text-md-center py-2">
    <h2>Set a new password</h2>
  </header>

  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="New password"
          autocomplete="new-password"
          pattern=".{8,}"
          title="Eight or more characters: a password too simple or trivial to guess will be rejected"
          required
          autofocus
        >
        <label for="password" class="d-flex align-items-end">New password</label>
      </div>
      <span class="input-group-text toggle-password-visibility" role="button">
        <i class="fa-solid fa-lg fa-eye pe-none icon-fixed-width"></i>
      </span>
    </div>

    <div class="input-group mb-3">
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Repeat new password"
          autocomplete="new-password"
          required
        >
        <label for="password2" class="d-flex align-items-end">Repeat new password</label>
      </div>
      <span class="input-group-text toggle-password-visibility" role="button">
        <i class="fa-solid fa-lg fa-eye pe-none icon-fixed-width"></i>
      </span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Update password</button>
  </form>
</div>

<script src="{{ static_url('fishtest:static/js/toggle_password.js') }}"></script>
{% endblock %}
